
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 4%, 0.8901960784313725);
    transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-property: visibility, opacity;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: absolute;
    max-width: 760px;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.modal-header {
    width: 100%;
    text-align: right;
}

.modal-title {
    font-size: 28px;
    width:100%;
}

.modal-body {
    padding: 10px;
    display: flex;
}


.modal-left {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

.modal-right {
    width: 45%;
}

@media (min-width: 200px) and (max-width: 800px) {
    .modal {
        position: relative;
        max-width: 100%;
        min-height: 200px;
        background: white;
        border-radius: 10px;
        top: 0;
        left: 0;
        margin-right: 0;
        transform: translate(0,0);
        cursor: pointer;
        visibility: hidden;
        padding: 20px;
    }

    .modal-header {
        order: 1;
        width: 100%;
        text-align: right;
    }

    .modal-title {
        font-size: 28px;
        width:100%;
        order:3;
        text-align: center;
    }

    .modal-left {
        width: 100%;
        text-align: center;
        order:2;
    }

    .modal-right {
        width: 100%;
        order:4;
    }

    .modal-body {
        padding: 20px;
        display: block;
    }


}